@model WebApplication2.Models.AddStudentViewModel
<h1>Add student</h1>
<form method="post">

<div class="mt-3">
    <label class="form-label">Place Name</label>
    <input type="text" class="form-control" asp-for="Name"/>
</div>
<div class="mt-3">
    <label class="form-label">Owner Email</label>
    <input type="email" class="form-control" asp-for="Email" />
</div>
    <div class="mt-3">
        <label class="form-label">Location</label>
        <input type="text" class="form-control" asp-for="Location" />
    </div>
<div class="mt-3">
    <label class="form-label">Capacity</label>
    <input type="number" class="form-control" asp-for="Capacity" />
</div>
    <div class="mt-3">
        <label class="form-label">Date</label>
        <input type="date" class="form-control" asp-for="Date" />
    </div>
    <div class="mt-3">
        <label class="form-label"> Price</label>
        <input type="number" class="form-control" asp-for="Price" />
    </div>

    <div class="mt-3">
        <label class="form-label"> Visiting hour</label>
        <input type="text" class="form-control" asp-for="Visiting_Hour" />
    </div>
    <div class="mt-3">
        <label class="form-label"> Description</label>
        <input type="text" class="form-control" asp-for="Description" />
    </div>
    <div class="mt-3">
        <label class="form-label">Owner Contact No</label>
        <input type="number" class="form-control" asp-for="Phone" />
    </div>
<div>
    <button type="submit" class="btn btn-primary">SAVE</button>
</div>

</form>